@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.container{
  position: relative;
/*   width: 1280px;
margin: 0 auto; */
}
.banner{
  background:url(../images/bkg_banner.png) no-repeat;
  background-size: 100% 100%;
  padding-top: 139px;
  .wrap{
    position: relative;
  }
  figure{
    img{
      width: 99%;
      height: auto;
      margin: 0 0 0 -16px;
    }
    .idLine{
      font-size: 1.2vw;
      font-family: 'Noto Sans Japanese';
      font-weight: bold;
      line-height: 1;
      letter-spacing: 2px;
      color: #5EC0B6;
      position: absolute;
      bottom: 9.3%;
      right: 9.4%;
      @media screen and (max-width: 1280px) {
        font-size: rem(16);
      }
      a{
        color: #5EC0B6;
        letter-spacing: 1px;
      }
    }
    figcaption{
      background: url(../images/bkg_qr.png) no-repeat;
      background-size: 100% 100%;
      width: 18%;
      height: 43%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -6%;
      right: -2.1%;
      img{
        width: 49%;
        height: auto;
        margin: 18px 0 0 0;
      }
    }
  }
}
.st_rental{
  padding: 75px 0 0;
  /* .row{
    max-width: 980px;
  } */
  .top_ttl{
    text-align: center;
    font-family: 'Noto Sans Japanese';
    font-weight: bold;
    line-height: 1;
    h2{
      font-size: rem(35);
      color: #03243A;
      margin-bottom: 30px;
      letter-spacing: 2px;
    }
    p{
      font-size: rem(22);
      margin-bottom: 20px;
      letter-spacing: 1px;
      span{
        color: #2C7EEA;
      }
    }
    em{
      font-size: rem(15);
      line-height: 1;
      color: #64798A;
      position: relative;
      font-style: normal;
      padding: 0px 17px;
      letter-spacing: 1px;
      &:before{
        content:"";
        width: 10px;
        height: 1px;
        background-color: #64798A;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
      &:after{
        content:"";
        width: 10px;
        height: 1px;
        background-color: #64798A;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
  }
  .gr_rental{
    &_type{
      display: flex;
      justify-content: space-between;
      margin: 80px 0 100px;
      span{
        font-size: rem(21);
        font-family: 'Noto Sans Japanese';
        font-weight: bold;
        line-height: 1;
        color: #fff;
        width: 50%;
        max-width: 250px;
        height: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        letter-spacing: 1px;
        box-shadow: 2px 2px 7px 2px rgba(176,185,193,0.5);
        &.gnr_rental{
          background-color: #64798A;
        }
        &.awn_rental{
          background-color: #2C7EEA;
        }  
      }
    }
    &_list{
      display: flex;
      margin-bottom: 7%;
      li{
        text-align: center;
        width: 50%;
        position: relative;
        &:not(:last-child){
          &:after{
            content:"";
            background: url(../images/arr_r.png) no-repeat;
            background-size: contain;
            width: 39px;
            height: 34px;
            position: absolute;
            top: 50%;
            right: -3.5%;
            transform: translateY(-50%);
          }
        }
        figure{
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          span{
            vertical-align: bottom;
            img{
              width: 65%; 
            }
          }
          figcaption{
            font-size: rem(20);
            font-family: 'Noto Sans Japanese';
            font-weight: bold;
            line-height: 24px;
            color: #03243A;
            margin-top: 30px;
          }
        }
      }
    }
  }
}
.bx_bottom{
  background: url(../images/banner_bt.png) no-repeat;
  background-size: 100% 100%;
  padding: 13% 0 0;
  .wrap{
    display: flex;
    &_left{
      position: relative;
      display: flex;
      align-items: flex-end;
      padding-right: 3%;
      img{
        width: 100%;
        height: auto;
      }
      figcaption{
        position: absolute;
        bottom: 7.5%;
        right: 16.3%;
        width: 29%;
        border: 3px solid #000;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
    &_right{
      position: relative;
      display: flex;
      align-items: flex-end;
      padding-left: 3%;
      img{
        width: 100%;
        height: auto;
      }
      figcaption{
        font-size: rem(14);
        line-height: 1.5;
        color: #263147;
        font-family: 'Noto Sans Japanese';
        font-weight: bold;
        position: absolute;
        top: 35%;
        left: 12%;
        transform: translateZ(0);
        &:after{
          content:"";
          width: 121px;
          height: 6px;
          background-color: #FFAF00;
          position: absolute;
          bottom: 7%;
          left: 50%;
          transform: translateX(-50%);
          z-index: -1;
        }
      }
    }
  }
}

.like_fb{
  display: flex;
  justify-content: center;
  padding: 30px 0 25px;
  .twitter-share-button{
    margin-left: 10px;
  }
}