.container {
  position: relative;
  /*   width: 1280px;
margin: 0 auto; */
}

.banner {
  background: url(../images/bkg_banner.png) center bottom no-repeat;
  -moz-background-size: 100% auto;
       background-size: 100% auto;
  padding-top: 139px;
}

.banner .wrap {
  position: relative;
}

.banner figure img {
  width: 99%;
  height: auto;
  margin: 0 0 0 -16px;
}

.banner figure .idLine {
  font-size: 1.2vw;
  font-family: 'Noto Sans Japanese';
  font-weight: bold;
  line-height: 1;
  letter-spacing: 2px;
  color: #5EC0B6;
  position: absolute;
  bottom: 9.3%;
  right: 9.4%;
}

@media screen and (max-width: 1280px) {
  .banner figure .idLine {
    font-size: 1.6rem;
  }
}

.banner figure .idLine a {
  color: #5EC0B6;
  letter-spacing: 1px;
}

.banner figure figcaption {
  background: url(../images/bkg_qr.png) no-repeat;
  -moz-background-size: 100% 100%;
       background-size: 100% 100%;
  width: 18%;
  height: 43%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -6%;
  right: -2.1%;
}

.banner figure figcaption img {
  width: 49%;
  height: auto;
  margin: 18px 0 0 0;
}

.st_rental {
  padding: 75px 0 0;
  /* .row{
    max-width: 980px;
  } */
}

.st_rental .top_ttl {
  text-align: center;
  font-family: 'Noto Sans Japanese';
  font-weight: bold;
  line-height: 1;
}

.st_rental .top_ttl h2 {
  font-size: 3.5rem;
  color: #03243A;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.st_rental .top_ttl p {
  font-size: 2.2rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.st_rental .top_ttl p span {
  color: #2C7EEA;
}

.st_rental .top_ttl em {
  font-size: 1.5rem;
  line-height: 1;
  color: #64798A;
  position: relative;
  font-style: normal;
  padding: 0px 17px;
  letter-spacing: 1px;
}

.st_rental .top_ttl em:before {
  content: "";
  width: 10px;
  height: 1px;
  background-color: #64798A;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.st_rental .top_ttl em:after {
  content: "";
  width: 10px;
  height: 1px;
  background-color: #64798A;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.st_rental .gr_rental_type {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0 100px;
}

.st_rental .gr_rental_type span {
  font-size: 2.1rem;
  font-family: 'Noto Sans Japanese';
  font-weight: bold;
  line-height: 1;
  color: #fff;
  width: 50%;
  max-width: 250px;
  height: 60px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-border-radius: 5px;
       border-radius: 5px;
  letter-spacing: 1px;
  -moz-box-shadow: 2px 2px 7px 2px rgba(176, 185, 193, 0.5);
       box-shadow: 2px 2px 7px 2px rgba(176, 185, 193, 0.5);
}

.st_rental .gr_rental_type span.gnr_rental {
  background-color: #64798A;
}

.st_rental .gr_rental_type span.awn_rental {
  background-color: #2C7EEA;
}

.st_rental .gr_rental_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7%;
}

.st_rental .gr_rental_list li {
  text-align: center;
  width: 50%;
  position: relative;
}

.st_rental .gr_rental_list li:not(:last-child):after {
  content: "";
  background: url(../images/arr_r.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 39px;
  height: 34px;
  position: absolute;
  top: 50%;
  right: -3.5%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.st_rental .gr_rental_list li figure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.st_rental .gr_rental_list li figure span {
  vertical-align: bottom;
}

.st_rental .gr_rental_list li figure span img {
  width: 65%;
}

.st_rental .gr_rental_list li figure figcaption {
  font-size: 2rem;
  font-family: 'Noto Sans Japanese';
  font-weight: bold;
  line-height: 24px;
  color: #03243A;
  margin-top: 30px;
}

.bx_bottom {
  background: url(../images/banner_bt.png) no-repeat;
  -moz-background-size: 100% auto;
       background-size: 100% auto;
  padding: 13% 0 0;
}

.bx_bottom .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.bx_bottom .wrap_left {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 3%;
}

.bx_bottom .wrap_left img {
  width: 100%;
  height: auto;
}

.bx_bottom .wrap_left figcaption {
  position: absolute;
  bottom: 7.5%;
  right: 16.3%;
  width: 29%;
  border: 3px solid #000;
}

.bx_bottom .wrap_left figcaption img {
  width: 100%;
  height: auto;
}

.bx_bottom .wrap_right {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 3%;
}

.bx_bottom .wrap_right img {
  width: 100%;
  height: auto;
}

.bx_bottom .wrap_right figcaption {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #263147;
  font-family: 'Noto Sans Japanese';
  font-weight: bold;
  position: absolute;
  top: 35%;
  left: 12%;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
}

.bx_bottom .wrap_right figcaption:after {
  content: "";
  width: 121px;
  height: 6px;
  background-color: #FFAF00;
  position: absolute;
  bottom: 7%;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.like_fb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0 25px;
}

.like_fb .twitter-share-button {
  margin-left: 10px;
}
