.container {
  position: relative;
}

.banner figure {
  position: relative;
}

.banner figure img {
  width: 100%;
  height: auto;
}

.banner figure .idLine {
  font-size: 2.47396vw;
  font-family: 'Noto Sans Japanese';
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.26042vw;
  color: #5EC0B6;
  position: absolute;
  bottom: 6.51042vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.banner figure .idLine a {
  color: #5EC0B6;
  letter-spacing: 1px;
}

.st_rental {
  padding: 7.8125vw 0 0;
}

.st_rental .btn_line {
  margin-bottom: 13.02083vw;
}

.st_rental .btn_line a img {
  width: 89.58333vw;
  height: 20.83333vw;
}

.st_rental .top_ttl {
  text-align: center;
  font-family: 'Noto Sans Japanese';
  font-weight: bold;
  line-height: 1;
  margin-bottom: 19.53125vw;
}

.st_rental .top_ttl h2 {
  font-size: 5.98958vw;
  color: #03243A;
  margin-bottom: 6.51042vw;
  letter-spacing: 0.39063vw;
}

.st_rental .top_ttl p {
  font-size: 4.16667vw;
  line-height: 7.16146vw;
  margin-bottom: 5.20833vw;
}

.st_rental .top_ttl p span {
  color: #2C7EEA;
}

.st_rental .top_ttl em {
  font-size: 2.86458vw;
  line-height: 1;
  color: #64798A;
  position: relative;
  font-style: normal;
  padding: 0px 2.60417vw;
}

.st_rental .top_ttl em:before {
  content: "";
  width: 1.30208vw;
  height: 0.26042vw;
  background-color: #64798A;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.st_rental .top_ttl em:after {
  content: "";
  width: 1.30208vw;
  height: 0.26042vw;
  background-color: #64798A;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.st_rental .gr_rental .sp_tp {
  font-size: 3.90625vw;
  font-family: 'Noto Sans Japanese';
  font-weight: bold;
  line-height: 1;
  color: #fff;
  width: 50%;
  max-width: 45.57292vw;
  height: 9.11458vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-border-radius: 0.65104vw;
       border-radius: 0.65104vw;
  letter-spacing: 1px;
  -moz-box-shadow: 2px 2px 7px 2px rgba(176, 185, 193, 0.5);
       box-shadow: 2px 2px 7px 2px rgba(176, 185, 193, 0.5);
}

.st_rental .gr_rental .sp_tp.gnr_rental {
  background-color: #64798A;
}

.st_rental .gr_rental .sp_tp.awn_rental {
  background-color: #2C7EEA;
}

.st_rental .gr_rental_list:not(:last-child) {
  margin-bottom: 27.34375vw;
}

.st_rental .gr_rental_list li {
  text-align: center;
  position: relative;
}

.st_rental .gr_rental_list li:not(:last-child) {
  margin-bottom: 26.04167vw;
}

.st_rental .gr_rental_list li:not(:last-child):after {
  content: "";
  background: url(../images/arr_r.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 5.98958vw;
  height: 6.77083vw;
  position: absolute;
  bottom: -16.92708vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.st_rental .gr_rental_list li figure img {
  width: 100%;
  height: auto;
}

.st_rental .gr_rental_list li figure figcaption {
  font-size: 4.55729vw;
  font-family: 'Noto Sans Japanese';
  font-weight: bold;
  line-height: 7.16146vw;
  color: #03243A;
  margin: 3.90625vw 0 6.51042vw;
}

.bx_bottom {
  margin-top: 20.83333vw;
}

.bx_bottom figure {
  position: relative;
}

.bx_bottom figure img {
  width: 100%;
  height: auto;
}

.bx_bottom figure figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bx_bottom figure figcaption img {
  width: 89.58333vw;
  height: 20.83333vw;
}

.like_fb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6.51042vw 0;
}

.like_fb .twitter-share-button {
  margin-left: 1.30208vw;
}
