@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.container{
  position: relative;
}
.banner{
  figure{
    position: relative;
    img{
      width: 100%;
      height: auto;
    }
    .idLine{
      font-size: vw(19);
      font-family: 'Noto Sans Japanese';
      font-weight: bold;
      line-height: 1;
      letter-spacing: vw(2);
      color: #5EC0B6;
      position: absolute;
      bottom: vw(50);
      left: 50%;
      transform: translateX(-50%);
      a{
        color: #5EC0B6;
        letter-spacing: 1px;
      }
    }
  }
}
.st_rental{
  padding: vw(60) 0 0;
  .btn_line{
    margin-bottom: vw(100);
    a{
      img{
        width: vw(688);
        height: vw(160);
      }
    }
  }
  .top_ttl{
    text-align: center;
    font-family: 'Noto Sans Japanese';
    font-weight: bold;
    line-height: 1;
    margin-bottom: vw(150);
    h2{
      font-size: vw(46);
      color: #03243A;
      margin-bottom: vw(50);
      letter-spacing: vw(3);
    }
    p{
      font-size: vw(32);
      line-height: vw(55);
      margin-bottom: vw(40);
      span{
        color: #2C7EEA;
      }
    }
    em{
      font-size: vw(22);
      line-height: 1;
      color: #64798A;
      position: relative;
      font-style: normal;
      padding: 0px vw(20);
      &:before{
        content:"";
        width: vw(10);
        height: vw(2);
        background-color: #64798A;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
      &:after{
        content:"";
        width: vw(10);
        height: vw(2);
        background-color: #64798A;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
  }
  .gr_rental{
    .sp_tp{
      font-size: vw(30);
      font-family: 'Noto Sans Japanese';
      font-weight: bold;
      line-height: 1;
      color: #fff;
      width: 50%;
      max-width: vw(350);
      height: vw(70);
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: vw(5);
      letter-spacing: 1px;
      box-shadow: 2px 2px 7px 2px rgba(176,185,193,0.5);
      &.gnr_rental{
        background-color: #64798A;
      }
      &.awn_rental{
        background-color: #2C7EEA;
      }
    }
    &_list{
      &:not(:last-child){
        margin-bottom: vw(210);
      }
      li{
        text-align: center;
        position: relative;
        &:not(:last-child){
          margin-bottom: vw(200);
          &:after{
            content:"";
            background: url(../images/arr_r.png) no-repeat;
            background-size: contain;
            width: vw(46);
            height: vw(52);
            position: absolute;
            bottom: vw(-130);
            left: 50%;
            transform: translateX(-50%);
          }
        }
        figure{
          img{
            width: 100%;
            height: auto; 
          }
          figcaption{
            font-size: vw(35);
            font-family: 'Noto Sans Japanese';
            font-weight: bold;
            line-height: vw(55);
            color: #03243A;
            margin: vw(30) 0 vw(50);
          }
        }
      }
    }
  }
}
.bx_bottom{
  margin-top: vw(160);
  figure{
    position: relative;
    img{
      width: 100%;
      height: auto;
    }
    figcaption{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      img{
        width: vw(688);
        height: vw(160);
      }
    }
  }
}

.like_fb{
  display: flex;
  justify-content: center;
  padding: vw(50) 0;
  .twitter-share-button{
    margin-left: vw(10);
  }
}