footer{
  border-top: 1px solid #CCCCCC;
  padding: vw(50) 0;
  .bx_footer{
    text-align: center;
    .logo_ft{
      margin-bottom: vw(45);
      a{
        display: block;
      }
      img{
        width: vw(412);
        height: vw(70);
      }
    }
    .nav_ft{
      font-size: 0;
      margin-bottom: vw(40);
      li{
        display: inline-block;
        position: relative;
        &:not(:last-child){
          margin-right: vw(60);
          &:after{
            content:"|";
            font-size: vw(26);
            line-height: 1;
            color: #8CA0B3;
            position: absolute;
            top: 50%;
            right: vw(-35);
            transform: translateY(-50%);
          }
        }
        a{
          font-size: vw(26);
          line-height: 1;
          color: #8CA0B3;
          font-family: 'Noto Sans Japanese';
          &:hover{
            color:#2C7EEA;
          }
        }
      }
    }
    .copyright{
      font-size: vw(24);
      line-height: 1;
      color: #8CA0B3;
      font-family: 'Noto Sans Japanese';
    }
  }
}