header{
  position: absolute;
  top: vw(25);
  width: 100%;
  z-index: 9;
  .bx_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_logo{
      img{
        width: vw(313);
        height: vw(53);
      }
    }
    .line{
      a{
        display: block;
        margin-right: vw(-30);
        img{
          width: vw(275);
        }
      }
    }
  }
}