footer{
  border-top: 1px solid #CCCCCC;
  padding: 18px 0;
  .bx_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo_ft{
      a{
        display: block;
      }
      img{
        width: 190px;
        height: auto;
      }
    }
    .nav_ft{
      font-size: 0;
      li{
        display: inline-block;
        position: relative;
        &:not(:last-child){
          margin-right: 30px;
          &:after{
            content:"|";
            font-size: rem(13);
            line-height: 1;
            color: #8CA0B3;
            position: absolute;
            top: 50%;
            right:-15px;
            transform: translateY(-50%);
          }
        }
        a{
          font-size: rem(13);
          line-height: 1;
          color: #8CA0B3;
          font-family: 'Noto Sans Japanese';
          &:hover{
            color:#2C7EEA;
          }
        }
      }
    }
    .copyright{
      font-size: rem(13);
      line-height: 1;
      color: #8CA0B3;
      font-family: 'Noto Sans Japanese';
    }
  }
}