header{
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 9;
  .bx_header{
    display: flex;
    align-items: center;
    &_logo{
      img{
        width: 189px;
        height: auto;
      }
    }
    p{
      font-size: rem(13);
      line-height: 1;
      font-family: 'Noto Sans Japanese';
      font-weight: bold;
      margin-left: 26px;
    }
  }
}